In [1]:
#pip install gmaps

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '800px',
    'border': '1px solid black',
    #'padding': '.1px',
    #'margin': '0 auto 0 auto'
}
fig = gmaps.figure()

In [5]:
clean_city_data = pd.read_csv('output_data/WeatherPy_cities.csv')

In [6]:
# Code to map cities in the list

cities = clean_city_data[["Lat","Lng"]]

heat_index = clean_city_data["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(cities, weights=heat_index, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
hotspots = clean_city_data.loc[(clean_city_data["Max Temp"]>=75) & (clean_city_data["Cloudiness"]<=35) & (clean_city_data["Windspeed"]<=4.0)]
hotspots

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Windspeed,Date,Country,Humidity
45,45,Manavālakurichi,8.13,77.30,78.80,20,3.89,1604191971,IN,100
58,58,Oriximiná,-1.77,-55.87,82.81,26,3.06,1604191973,BR,51
76,76,Ranong,9.97,98.63,75.20,20,1.23,1604192098,TH,100
79,79,Kupang,-10.17,123.58,89.83,6,2.10,1604192099,ID,42
83,83,Saint George,37.10,-113.58,75.20,1,1.77,1604192021,US,13
136,136,Huaicheng,23.91,112.19,76.93,0,1.34,1604192231,CN,63
230,230,Bima,-8.47,118.72,88.97,6,2.53,1604192371,ID,51
258,258,Airai,-8.93,125.41,75.69,0,3.24,1604192498,TL,37
274,274,Santarém,-2.44,-54.71,78.80,0,3.36,1604192502,BR,94
309,309,Namatanai,-3.67,152.43,86.11,26,3.96,1604192632,PG,66
323,323,Port Macquarie,-31.43,152.92,78.01,6,3.00,1604192416,AU,45
327,327,Coolum Beach,-26.53,153.10,84.00,0,1.99,1604192636,AU,37
442,442,Barreirinha,-2.79,-57.07,82.51,35,1.72,1604192923,BR,49
474,474,Laguna,38.42,-121.42,78.80,1,3.98,1604192739,US,22
512,512,Singaparna,-7.35,108.11,79.61,6,1.43,1604193058,ID,73

In [26]:
clean_city_data.drop(clean_city_data.loc[(clean_city_data["Max Temp"]<75) | (clean_city_data["Cloudiness"]>35) | (clean_city_data["Windspeed"]>4.0)].index, inplace=True)

In [27]:
clean_city_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Windspeed,Date,Country,Humidity
45,45,Manavālakurichi,8.13,77.30,78.80,20,3.89,1604191971,IN,100
58,58,Oriximiná,-1.77,-55.87,82.81,26,3.06,1604191973,BR,51
76,76,Ranong,9.97,98.63,75.20,20,1.23,1604192098,TH,100
79,79,Kupang,-10.17,123.58,89.83,6,2.10,1604192099,ID,42
83,83,Saint George,37.10,-113.58,75.20,1,1.77,1604192021,US,13
136,136,Huaicheng,23.91,112.19,76.93,0,1.34,1604192231,CN,63
230,230,Bima,-8.47,118.72,88.97,6,2.53,1604192371,ID,51
258,258,Airai,-8.93,125.41,75.69,0,3.24,1604192498,TL,37
274,274,Santarém,-2.44,-54.71,78.80,0,3.36,1604192502,BR,94
309,309,Namatanai,-3.67,152.43,86.11,26,3.96,1604192632,PG,66
323,323,Port Macquarie,-31.43,152.92,78.01,6,3.00,1604192416,AU,45
327,327,Coolum Beach,-26.53,153.10,84.00,0,1.99,1604192636,AU,37
442,442,Barreirinha,-2.79,-57.07,82.51,35,1.72,1604192923,BR,49
474,474,Laguna,38.42,-121.42,78.80,1,3.98,1604192739,US,22
512,512,Singaparna,-7.35,108.11,79.61,6,1.43,1604193058,ID,73

In [28]:
locations = clean_city_data[["City","Country","Lat","Lng","Humidity"]]
locations["Hotel Name"] = ""
locations

                City Country    Lat     Lng  Humidity Hotel Name
45   Manavālakurichi      IN   8.13   77.30       100
58         Oriximiná      BR  -1.77  -55.87        51
76            Ranong      TH   9.97   98.63       100
79            Kupang      ID -10.17  123.58        42
83      Saint George      US  37.10 -113.58        13
136        Huaicheng      CN  23.91  112.19        63
230             Bima      ID  -8.47  118.72        51
258            Airai      TL  -8.93  125.41        37
274         Santarém      BR  -2.44  -54.71        94
309        Namatanai      PG  -3.67  152.43        66
323   Port Macquarie      AU -31.43  152.92        45
327     Coolum Beach      AU -26.53  153.10        37
442      Barreirinha      BR  -2.79  -57.07        49
474           Laguna      US  38.42 -121.42        22
512       Singaparna      ID  -7.35  108.11        73

In [29]:
coordinates = clean_city_data[["Lat","Lng"]]

In [30]:
humidity = locations["Humidity"].astype(float)

In [31]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:

heatlayer = gmaps.heatmap_layer(coordinates, weights=humidity, max_intensity=10, point_radius=2)
fig.add_layer(heatlayer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
params = {
    "radius" : 5000,
    "types" : "lodging",
    "key" : g_key,
    }
for index, row in locations.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    address = requests.get(base_url,params=params)
    address = address.json()
    try:
        locations.loc[index,"Hotel Name"]=address["results"][0]["name"]
    except (IndexError,KeyError):
        print("Not found, skipping...")
        
locations

,City,Country,Lat,Lng,Humidity,Hotel Name
45,Manavālakurichi,IN,8.13,77.30,100,Udaya Boys Hostel
58,Oriximiná,BR,-1.77,-55.87,51,Pousada Tia Amélia
76,Ranong,TH,9.97,98.63,100,Tinidee Hotel@Ranong
79,Kupang,ID,-10.17,123.58,42,Sylvia Hotel Premier Kupang
83,Saint George,US,37.10,-113.58,13,Best Western Plus Abbey Inn
136,Huaicheng,CN,23.91,112.19,63,Tengye Hotel
230,Bima,ID,-8.47,118.72,51,Lambitu Hotel
258,Airai,TL,-8.93,125.41,37,Juvinal Martin
274,Santarém,BR,-2.44,-54.71,94,Hotel Imperador
309,Namatanai,PG,-3.67,152.43,66,Namatanai Hotel
323,Port Macquarie,AU,-31.43,152.92,45,Rydges Port Macquarie
327,Coolum Beach,AU,-26.53,153.10,37,Palmer Coolum Resort
442,Barreirinha,BR,-2.79,-57.07,49,Hotel e Restaurante Tupana Iwato
474,Laguna,US,38.42,-121.42,22,Holiday Inn Express & Suites Elk Grove Central...
512,Singaparna,ID,-7.35,108.11,73,"H. maman Sukirman ""Koran"""

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in locations.iterrows()]
points = locations[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(points,info_box_content=hotel_info)
fig.add_layer(marker_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))